/* main {
  display: flex;
  flex-direction: row;
}
#resultContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

#column {
  width: 50vw;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
} */

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }


.grid-item > img {
  width: 100%;
  object-fit: cover;
}

/* ---- grid ---- */

.grid {
  background: rgb(255, 255, 255);
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}
.grid-item {
  float:left;
  border: 5px solid rgb(255, 255, 255);
}

.grid-item img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}
