
* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: 'Open Sans', sans-serif; 
padding: 0 !important;}


.grid-item > img {
  width: 100%;
  object-fit: cover;
}

/* ---- grid ---- */

.grid {
  background: rgb(255, 255, 255);
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}
.grid-item {
  float:left;
  border: 5px solid rgb(255, 255, 255);
}

.grid-item img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content {
  width: inherit;
}